@CHARSET "ISO-8859-1";

/*######################Header######################################*/
.headerContainer {
	width: 100%;
	background-color: red;
}

.centerHeader {
	height: 100px;
	width: 100%;
	float: left;
	padding-bottom: 30px;
	display: block;
	background-image: url('../images/headerbg1.png');
	background-repeat: repeat-x;
	background-position: left top;
}

.leftHeader {
	height: 100px;
	width: 100px;
	float: left;
	padding-bottom: 30px;
	display: block;
}

.rightHeader {
	height: 100px;
	width: 100px;
	float: right;
	padding-bottom: 30px;
	display: block;
}

.buttomHerder {
	height: 30px;
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0;
	background-color: gray;
	clear: both;
	text-align: center;
}

/*################################################################################*/
/*###### Container #########*/
.hlayoutGridSearch {
	text-align: center;
}

.hboxGridSearch {
	margin-top: 10px;
}

.hlayoutGridResult {
	width: 97% !important;
	margin: 0 auto;
	alignment-adjust: central;
	max-height: 450px;

}

.resultGrid {
	min-height: 350px;
	height: 350px;
}

.vboxEdit {
	margin: 0 auto;
	alignment-adjust: central;
}

.searchGrid tr.z-grid-odd td.z-row-inner,tr.z-grid-odd .z-cell {
	border-left: 0px solid transparent;
	background-color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #FFFFFF
}

.searchGrid tr.z-row td.z-row-inner,tr.z-row .z-cell {
	background-color: white;
	background-position: initial initial;
	background-repeat: initial initial;
	border-color: white transparent white white;
	border-style: solid;
	border-width: 0;
	line-height: 18px;
}

.editGrid tr.z-grid-odd td.z-row-inner,tr.z-grid-odd .z-cell {
	border-left: 0px solid transparent;
	background-color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #FFFFFF
}

.editGrid tr.z-row td.z-row-inner,tr.z-row .z-cell {
	background-color: white;
	background-position: initial initial;
	background-repeat: initial initial;
	border-color: white transparent white white;
	border-style: solid;
	border-width: 0;
	line-height: 18px;
}

.z-paging-info,.z-paging div.z-paging-info {
	color: #363636;
	font-family: arial, sans-serif;
	font-size: 11px;
	position: absolute;
	left: 220px;
	top: 11px;
}
/*##########################################################################*/
.listboxFooter {
	font-size: 14px;
	font-weight: bold;
	background-color: #B5B0B1;
}

.pageTitle {
	font-family: Verdana;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.columnHeader {
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
}

.editLabel {
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
}

.table {
	text-align: center;
}

.textWidth {
	width: 120px;
}

.selectWidth {
	width: 125px;
}

.selectWidthEdit {
	width: 255px;
}

.textWidthEdit {
	width: 250px;
}

.selectWidthEditM {
	width: 185px ;
}

.textWidthEditM {
	width: 180px;
}

.z-button .z-button-cm {
	background-position: 0 0;
	background-repeat: repeat no-repeat;
	margin: 0;
	overflow: hidden;
	padding: 0 7px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	width: 50px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.required {
	font-weight: bold;
	color: red;
}

.service-image-container{
	height:200px!important;
	width:250px!important;
}

.display-image-size{
	height: 95%!important;
	width: 95%!important;
}